body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.modal-btn{
    background-color: coral;
    font-size: 20px;
    padding: 16px 32px;
    color: white;
    border: none
}

.modal-btn:hover{
    background-color: #333;
    color: #f3f3f3;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    overflow: auto;
}

.modal-content{
    background-color: #ccc;
    margin: 10% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.5);
    animation-name: openModal;
    animation-duration: 2s;
}

.modal-header h2, .modal-footer h3{
    margin: 0;
}

.modal-header{
    background-color: coral;
    color: #f3f3f3;
    padding: 15px 30px;
}

.modal-body{
    font-size: 20px;
    padding: 15px 30px;
}

.modal-footer{
    background-color: coral;
    padding: 10px;
    color: #f3f3f3;
    text-align: center;
}

.closeBtn{
    float: right;
    font-size: 30px;
    color: #f3f3f3;
    cursor: pointer;
}

.closeBtn:hover, .closeBtn:focus{
    color: #333;
}

@Keyframes openModal{
    from{opacity: 0}
    to{opacity: 1}
}